streamlit==1.28.0
pandas==2.0.0
plotly==5.17.0
pyshark==0.6.0
psutil==5.9.0
scapy==2.5.0
Pillow==10.0.0
ipaddress==1.0.23
cryptography==41.0.4
streamlit-float==0.3.0
streamlit-option-menu==0.3.12
streamlit-extras==0.3.0
streamlit-lottie==0.2.3